*{
    padding:0;
    margin:0;
}
:root{

    --primary-color:#04417fb8;
    --white-color: #fff;
    --backgroud-color:#f5f5f5;
    --black-color: #000;
    --text-color: #333;
    --boder-color: #bdbdbd;
    --star-gold-color:#ffce3d;
    --header-height: 120px;
    --navbar-height:32px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height)); 

}
/* apply css tất cả phần tử */
*{
    box-sizing: inherit;
    /* kế thừa */
}

html{
    /* HACK 10% */
    font-size: 62.5%;
    /* độ cao của chữ */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: var(--backgroud-color);
}
.web{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    width:100%;
}
#header{
    position: fixed!important;;
    width:100vw;
    z-index:20;
    transition:0.2s;
}
/* khi scroll manf hinh thi add class nay vao header */
.sticky{
    background-color: black;
    background-image: none;
}
/* Reponsive để cho phù hợp với từng kích thước màn hình khác nhau  */

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Khi không muốn màn hình là 1200 thì dùng thẻ này  */
.grid__full-witdh{
    max-width: 100%;
}

/* để cho những gì thẻ này cùng nằm trên một hàng ngang */
.grid__row{
    display: flex;
    /* còn con của những cái này khi thuộc thẻ này mà vượt quá sẽ xuống dòng */
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/* Test */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

/* Animation */
@keyframes fadeIn{
    /* hiện dần lên */
    from{
        opacity: 0;

    }
    to{
        opacity: 1;
    }
}

@keyframes growth{
    from{
        transform: scale(var(--growth-from));

    }
    to{
        transform: scale(var(--growth-to));
    }
}
/* button style */
.btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
}
.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.08);
}
.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);    
}
/* vô hiệu hóa một nút khi chưa làm backend */
.btn.btn--disabled{
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}
/* MODAL */
.modal, .modal2{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0 ,0 , 0.4);
   
}

.modal__body{
    --growth-from:0.7;
    --growth-to:1;
    margin: auto;
    z-index: 1;
    position: relative;
    border-radius: 5px;
    animation: growth linear 0.2s  ;
}
/* Phần đăng ký  */
/* selection */
.select-input{
    position: relative;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 1px #c4c1c1; 
    z-index: 1;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__label{
    font-size: 1.4rem;
}
.select-input__icon{
    font-size: 1.4rem;
    color: #d3caca;
    position: relative;
    top: 1px;
}
.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    padding: 10px 16px;
    list-style: none;
    border-radius: 2px;
    background-color: var(--white-color);
    display: none;
}
.select-input__item-link{
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
}
.select-input__item-link:hover{
    color: var(--primary-color);
}

/* main */
.header{
    height: var(--header-height);
    /* để có màu từ đậm đến nhạt  */
    background-image: linear-gradient(0,#3d95eeb8,#04417fb8);
}
.header__navbar{
    /* để cùng nằm trên một hàng */
    display: flex;
    /* để chúng nằm xa nhau ra */
    justify-content: space-between;

}
.header__navbar-list{
    /* để cho không còn dấu . phía trước */
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
    
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
#adminManage{
    display: none;
}
/* Phần đăng nhập người dùng */
#useraccount{
display: none;
}
#logInOut {
    display: flex;
    color: #fff;
    font-size: 1.3rem;
    align-items: center;
}
#register {
    padding-right: 1em;
    border-right: 1px solid #fff;
    cursor: pointer;
}
#logIn {
    padding-left: 1em;
    cursor: pointer;
}
.header__navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
}
.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border:1px solid rgba(0, 0, 0, 0.1)
}
.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}
.header__navbar-user:hover .header__navbar-user-menu
{
    display: block;
}
.header__navbar-user-menu{
    position : absolute; 
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    border-radius: 2px;
    width: 160px;
    list-style: none;
    background-color: var(--white-color); 
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}
.header__navbar-user-menu::before{
    content: "";
    border-width: 21px 19px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 17px;
    top: -34px;

}
.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 75%;
    height: 8px;
    
}

/* .header__navbar-user-item{
    
} */

.header__navbar-user-item  a{
    text-decoration: none;
    color:var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 8px 16px; 
    
}
.header__navbar-user-item  a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item  a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-item a:hover{
    background-color: #fafafa;
   
}
.header__navbar-user-item--sperate{
    border-top: 1px solid rgba(0, 0, 0, 0.05) ;
}
/* khi hover vào hiện qr ra */
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link{
    /* để nằm trên một hàng ngang */
    display: inline-block;
    font-size: 1.3rem;
    /* xét màu có sẵn */
    color: var(--white-color);
    /* bỏ gạch dưới của link */
    text-decoration: none ;
    /* xét độ dày của chữ */
    font-weight: 350;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}
/* để di chuột vào mờ đi dùng hover */
.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover
{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
}

.header__navbar-item--bold{
    /* tăng độ dày cỡ chữ*/
    font-weight: 500;
}
/* để có dấu gạch phía sau */
.header__navbar-item--separate::after{
    content: "" ;
    display: block;
    position: absolute;
    border-left: 1px solid #bdc4cb;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);

}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon-link:nth-child(2)
{
    margin-left: 3px;
}
.header__navbar-icon{
    font-size: 1.8rem;
    margin:0px 4px;

}
/* làm cho chữ kết nối không mờ */
.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}

/* HEADER QR CODE */
.header__qr{
    width: 190px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 122%;
    padding: 8px;
    border-radius: 5px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
   
}

.header__qr::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 25px;
    content: "";
    display: block;   
}

.header__qr-img{
    width: 100%;
}
.header__qr-apps{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.header__qr-link{
    margin-left: 11px;
    display: flex;
    text-decoration: none;

}

.header__qr-dowload-img{
    height: 17px;
    
}

/* HEADER NOTIFY */
.header__notify{
    position: absolute;
    /* để cách ra như mã qr */
    z-index: 3;
    top: 122%;
    right: 0;
    width: 404px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    cursor: default;
    /* để biết dùng thuộc tính gì */
    will-change: opacity,trasform;
    /* dời gốc lên thông báo */
    transform-origin: calc(100% - 32px) top;
    animation:  headerNotifyGrowth ease-in 0.2s;
    display: none;
    
}

.header__notify::before{
        content: "";
        border-width: 25px 30px;
        border-style: solid ;
        border-color: transparent transparent var(--white-color) transparent;
        position: absolute;
        right: 7px;
        top: -34px;
}
/* để cho ng dùng khi di chuột chéo vẫn không mất  */
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 150px;
    height: 20px;
    
}
@keyframes headerNotifyGrowth{
    from{
        /* dùng transform scale để nó ko có kích thước ban đầu */
        opacity: 0;
        transform: scale(0);
    }
    to{ 
        opacity: 1;
        transform: scale(1);

    }
}

/* cách để chọn nhanh ctrl d nút dưới xong shift alt phải */
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);

}
.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    display: inline-flex;
    line-height: 40px;
    user-select: none;
}
.header__notify-list{
    padding-left: 0;
}
.header__notify-item:hover{
    display: flex;
    background-color: #f7f7f7;
    
}
.header__notify-item--viewed{
    background-color: rgba(113, 174, 235, 0.2) ;
}
.header__notify-link{
    /* cho tất cả lêm nằm ngang */
    display: flex;
    width: 100%;
    padding: 12px;
    /* bỏ dấu gạch chân */
    text-decoration: none;
    
    
}
.header__notify-img{
    width: 48px;
    /* để ảnh ko méo  */
    object-fit: contain;
    margin-left:12px;
}
.header__notify-info{
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;

}
.header__notify-description{
    display: block;
    font-size: 1.2rem;
    line-height: 2.3rem;
    color: #756F6E;
    line-height: 1.8rem;
    margin-top: 4px;
}

.header__notify-footer{
    /* dùng light-center ko được  */
    display: flex;
    
}

.header__modify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 16px 0px;
    /* sau khi cho display:flex thì dùng dùng margin auto để vô giữa */
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid var(--boder-color);
}


/* AUTHEN MODAL */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
    margin-bottom:20px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 500;
    cursor: pointer;
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 5px !important;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
    /* bỏ viền tự hiện ra bằng outline */
    outline: none;

}
/* làm lớp giả */
.auth-form__input:focus{
    border-color: #777;
}

.auth-form__aside{
    margin-top: 18px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
    
}

.auth-form__controls{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__control-back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #e2dada;
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon{
   font-size: 1.8rem; 
}

.auth-form__socials-icon--facebook{
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form__socials-icon--facebook
.auth-form__socials-icon
{
    color: var(--white-color);
   
}

.auth-form__socials-title{
    margin: 0 36px;
}
.auth-form__socials-icon--google{
    color: #666;
    background-color: var(--white-color);
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;

}
.auth-form__help-separate{
    display: block;
    height: 18px;
    margin:0px 16px 6px;
    border-left: 1px solid #EAEAEA;
}
.auth-form__help-forgot{
    color: var(--primary-color);
}
/* header-with-search */
.header-with-search{
    width:90%;
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:auto;
}

.header__logo{  
  
    margin-right:2em;
}

.header__logo-link > img {
    width:8em;
    object-fit: cover;
}
.header__search{
    height: 40px;
    flex: 1;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}
.header__cart{
    width: 150px;
    text-align: center;
}
/* Phần hiển thị thông báo không có sản phẩm */
#header-no-product{
    width:200px;
    padding:50px 0px;
    font-size:25px;
    color:var(--primary-color);
}
.no-product{
    background-color: red;
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-icon{
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 6px);
    right: 1px;
    background-color: #fdfdfd;
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 2;
}
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    /* bằng 56% chiều cao trình duyệt */
    height: 56vh;
    overflow: auto;
}
.header__cart-item{
    display: flex;
    align-items: center;
}
.header__cart-item:hover{
    background-color: #f8f8f8;
}
.header__cart-img{
    width: 48px;
    height: 48px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}
.header__cart-item-info{
    width: 100%;
    margin: 12px;
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header__cart-item-name{
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}
.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}
.header__cart-item-mutiply{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}
.header__cart-item-quatity{
    font-size: 1.2rem;
    color: #757575;

}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
    
}
.header__cart-item-description{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}
.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}
.header__cart-item-remove:hover{
    cursor: pointer;
    color: var(--primary-color) ;
}
.header__card-view-cart:hover{
    background-color: #0857a7b8;
}
.header__cart-list::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 3px;
    top:-26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color:transparent transparent var(--white-color) transparent ;
}

.header__cart-list--no-cart{
    padding: 24px 0;
    
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-message{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header__cart-no-cart-img{
    width: 54%;
    /* tạm thời card */
    display: none;
}
.header__cart-list-no-cart-message{
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}
.header__cart-notice{
    position: absolute;
    padding: 1px 7px;
    top: -4px;
    right: -4px;
    font-size: 1.4rem;
    line-height: 1.2rem;
    border-radius: 10px;
    border:2px solid #0355a8b8;
    color: var(--primary-color);
    background-color: var(--white-color);

}
.header__card-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}

.header__search-input-wrap{
    flex:1;
    height: 100%;
    position: relative;
}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}
.header__search-select{ 
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    height: 28px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

}
.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-icon{
    font-size: 1.4rem;
    color: #d3caca;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}
.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px ;
    margin-right:3px ;
    outline: none;

}
.header__search-btn:hover{
    cursor: pointer;
    background-color: #295179b8;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: white;
}
.header__search-select:hover .header__search-option {
    display: block;
}
.header__search-option{
    position: absolute;
    right: 0;
    top: calc(100% - 2px);
    width: 130px;
    list-style: none;
    /* tạo bóng đổ đối tượng  */
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 2;
}
.header__search-option::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0;
    position: absolute;

}
.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px;
}
.header__search-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__search-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

}
.header__search-option-item:hover{
    background-color: #eeeee3;
}
.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}
.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left:12px;
    display: none;
}
.header__search-option-item--active i
{
    display: inline-block;
}

/* khi nhấn chuột vào thì hiện ra */
.header__search-input:focus ~ .header__search-history{
    display: block;
}

/* search history */
.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 20px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #858484;
    display: none;
    overflow: hidden;
    z-index: 2;
}
.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #bbb8b8;
    font-weight: 400;
}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin:6px 0 0;
}
.header__search-history-item{
    height: 38px;
    padding: 0 12px;

}

.header__search-history-item:hover{
    background-color: #fafafa;
}

.header__search-history-item a{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 38px;
    font-weight: 400;
    display: block;
}
/* Account nguoi dung */
#header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}
/* Thông tin chi tiết sản phẩm */
.web-inner{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1.5em 1.5em; 
    padding-top:150px;
}
/* Phần lựa chọn chức năng của admin */
#adminEdit {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    width:fit-content;
    padding: 12px 22px;
    border-radius: 5px;
    align-items: center;
    margin-bottom:1em;
}
.home-filter .btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
    box-shadow: 0 1px 1px #c4c1c1;
}

/* Animation */
@keyframes fadeIn{
    /* hiện dần lên */
    from{
        opacity: 0;

    }
    to{
        opacity: 1;
    }
}

@keyframes growth{
    from{
        transform: scale(var(--growth-from));

    }
    to{
        transform: scale(var(--growth-to));
    }
}
/* button style */
.btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
   
}

/* Phan chi tiet san pham */
#product-inner{
    display: flex;
    width:80%;
    background-color: #fff;
    padding:2em 2em;
    align-items: flex-start;
    border-radius: 4px;
   
}
/* Ảnh sản phẩm */
.product-img{
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;  
}
/* set thuoc tinh cho anh san pham lớn */
.product-spe-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:1em;
    background-color: red;

}
.product-spe-img img{
    width:100%;
    height:100%;
    object-fit: cover;
  
}
.product-small-img{
    display: flex;
    overflow-x: auto;
}
.product-small-img::-webkit-scrollbar{
    width:0;
}

.product-small-img img{
    width:33%;
    margin-right:0.5em;
    object-fit: contain;
}
/* hình ảnh chia sẽ */
.product__sharing-icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 35px;
    font-size: 1.5rem;
}
.product__sharing-icons a{
    margin-left:0.5em;
}
.product__action-icon.messenger {
    color: #0685FF;
}
.product__action-icon.facebook {
    color: #3B5999;
}
.product__action-icon.google {
    color: #D84F43;
}
.product__action-icon.pinterest {
    color: #DE0217;
}
.product__action-icon.twitter {
    color: #18C4FF;
}
/* Phan infor san pham */
#product-infor{
    padding:0em 2em;   
}
.product-infor-inner{
    font-size:1.5rem;
}
.product-title{
  padding-bottom:0.8em;
}
.product__price {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    padding: 15px 20px;
    margin-top: 15px;
    border-radius: 4px;
   
}
/* phan gia chinh */
.product__price-main {
    display: flex;
    align-items: center;
    font-size:1.5rem;
  
  
}
/* gias cux  */
.product__price-old {
    color: #767676;
    text-decoration: line-through;
    margin-right:0.5em;
  
   
}
/* gia hien tai */
.product__price-current {
    display: flex;
    align-items: center;
    font-size: 3rem;
    color:var(--primary-color); 
}
/* Phần giảm giá  */
.product__price-label {
    font-size: 0.73rem;
    font-weight: 500;
    background-color: var(--primary-color);
    color: white;
    padding: 2px 5px;
    border-radius: 2px;
    margin-left:2em;
}
/* slogan dưới giá */
.product__price-slogan {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size:1.2rem;
}
.product__price-slogan > i {
    color:var(--primary-color);
}

.product__price-slogan-text {
    font-size: 1.2rem;
    margin: 0 6px;
    color: #222;
}
/* phần từng mô tả  */
.product-decription{
    font-size: 1.5rem;
  padding:1em 0em;
}
.product-detail-item{
    padding:0.8em 0em;
}
.product-detail-text{
    padding-bottom:0.8em;
}
.product-detail-text p{
    padding-top:0.8em;
}
/* Phần số lượng */
.product__qnt{
    background-color: transparent;
}
.product__qnt label{
   background-color: red;
    display: none;
}
.shop__qnt-btns {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    margin-right: 13px;
    margin-bottom:1.5em;
    color:red;
}
#soluongg{
    width:50px;
}
.soluong{
    outline: none;
    border:1px solid rgba(0, 0, 0, 0.09);
    padding:0 0.5em;
    color:rgb(70, 64, 64);
}

.shop__qnt-input {
    width: 50px;
    padding:0.3em 0.8em;
    text-align: center;
    border: none;
    font-size: 16px;
    outline: 0;
}

.product__qnt-note {
    color: #767676;
  
}

/* Số lượng sản phẩm */
.shop__qnt-btns {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    margin-right: 13px;
    margin-bottom:1.5em;
}
.soluong{
    outline: none;
    border:1px solid rgba(0, 0, 0, 0.09);
    padding:0 0.5em;
    color:rgb(70, 64, 64);
}
.shop__qnt-input {
    width: 50px;
    padding:0.3em 0.8em;
    text-align: center;
    border: none;
    font-size: 16px;
    outline: 0;
}

.product__qnt-note {
    color: #767676;
}
/* Thêm vào giỏ hàng */
.product-btn-main__msg {
    display: none;
    
}
.product-btns-main{
    width:fit-content;
    height: fit-content;
   margin-top:4em;
}
.product-btn-main {
    min-width: 180px;
    height: 48px;
    padding: 0 12px;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 2px;
 
}
.product-btn-main__adding {
    color: var(--primary-color);
    background: rgba(129, 151, 175, 0.1);
    border: 1px solid var(--primary-color);
    margin-right: 15px;
}
.product-btn-main__buying {
    background-color: var(--primary-color);
    border: none;
    color: white;

}
.product__guarantee-container {
    margin-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
   font-size:1.2rem;
   
}
.product__guarantee {
    display: flex;
    align-items: center;
    color: black;
    padding: 25px 20px;
    height: 18px;
    line-height: 18px;
    max-width: 415px;
}
a {
    text-decoration: none;
}
/* Phần đảm bảo của người bán */
.product__guarantee-container {
    margin-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.product__guarantee {
    display: flex;
    align-items: center;
    color: black;
    padding: 25px 20px;
    height: 18px;
    line-height: 18px;
    max-width: 415px;
}
.product__guarantee-wrapper {
    display: flex;
    align-items: center;
}
/* Khoong dudojc xoa */
/* Phần combo sản phẩm */
.products-combo {
    background-color: #fff;
    padding: 24px 30px;
    margin: 20px -10px 0;
    color: #222;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    font-size:1.3rem;
   width:80%;
   border-radius: 4px;
}
.products-combo img{
    width: 220px;
    height:230px;
    object-fit: contain;
 
}
.products-combo__title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    
}
.products-combo__text {
    margin-right: 2em;
}
.products-combo__note {
    color: var(--primary-color);
    border-radius: 2px;
    padding: 2px 5px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}
.products-combo__see-more {
    color: var(--primary-color);
  
}
.products-combo__see-more i {
    margin-right:0.5em;
}
.products-combo-container {
    display: flex;
    margin-top:1em;
}
.products-combo__cards {
  display: flex;
    width: 80%;
    justify-content: space-between;
    padding-right: 25px;
  
}
/* Phần combo sản phẩm */
.products-combo {
    background-color: #fff;
    padding: 24px 30px;
    margin: 20px -10px 0;
    color: #222;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    font-size:1.3rem;
   width:80%;
   border-radius: 4px;
}
.products-combo img{
    width: 220px;
    height:230px;
    object-fit: contain;
 
}
.products-combo__title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    
}
.products-combo__text {
    margin-right: 2em;
}
.products-combo__note {
    color: var(--primary-color);
    border-radius: 2px;
    padding: 2px 5px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}
.products-combo__see-more {
    color: var(--primary-color);
  
}
.products-combo__see-more i {
    margin-right:0.5em;
}
.products-combo-container {
    display: flex;
    margin-top:1em;
}
.products-combo__cards {
  display: flex;
    width: 80%;
    justify-content: space-between;
    padding-right: 25px;
  
}
/* Sản phẩm combo dưới phần xem thêm 4 sản phẩm */
.products-combo__card {
    display: flex;
    flex-direction: column;
    position: relative; 
}
/* Phần sau 4 sản phẩm */
.products-combo__checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: .03125rem solid rgba(0,0,0,.09);
    padding-left: 37px;
    width: 22%;
}
.products-combo__checkout-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.products-combo__checkout-total-old{
    text-decoration: line-through;
    margin:0em 0.5em;
    color:rgb(185, 176, 176);
}
/* Phần tiết kiệm */
.products-combo__checkout-save{
    display: flex;
    margin:0.5em 0em;
    color:var(--primary-color);
}

.products-combo__checkout-save span{
    margin-left:1em;
}

.products-combo__checkout-btn {
    border: 1px solid var(--primary-color);
   text-align: center;
    padding:0.5em;
    border-radius: 2px;
    cursor: pointer;
    background-color: rgba(129, 151, 175, 0.1);
    color:var(--primary-color);
}
/* phần acc người dùng mua */
.product-shop {
    display: flex;
    align-items: center;
    background-color: white;
    margin:1.5em 0;
    padding:1em 1em;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    width:80%;
    border-radius: 4px;
    font-size:1.3rem;
}
.product-shop__contact {
    display: flex;
    align-items: center;
    width:35%;
    border-right: 1px solid rgba(0,0,0,.05);
}
/* Phần ảnh của acc người dùng */
.product-shop__contact-img-link{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}

/* Phần ảnh người dùng */
.product-shop__contact-avatar-wrapper {
    width: 8rem;
    height: 8rem; 
    border-radius: 4px;
    overflow: hidden;

}
.product-shop__contact-avatar-wrapper img{
    width: 100%;   
}
/* Phần chữ yêu thích */
.label-loving{
    color:#fff;
    background-color: var(--primary-color);
    padding:0.2em;
    border-radius: 2px;
    margin:auto;
}
/* Phần tên người dùng */
.product-shop__contact-container{
    margin-left:1em;
}
.product-shop__contact-name {

    color: rgba(0, 0, 0, 0.87);
   
}
.product-shop__contact-online-time {
    color: rgba(0, 0, 0, 0.54);
    margin-top: 1px;
}
.product-shop__contact-main {
    display: flex;
    align-self: center;
    margin-top: 7px;
}
.product-shop__contact-message-btn {
    display: flex;
    align-items: center;
    color: var(--var-color);
    background: rgba(0,0,0,.09);
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    margin-right: 15px;
    padding:0.3em;
    color:var(--primary-color);
    cursor: pointer;
}
.product-shop__contact-message-btn > i{
    margin-right:0.3em;
}
/* Phần xem shop */
.product-shop__contact-viewing {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    padding:0.5em;
  
}
.product-shop__contact-viewing  > i{
    margin-right:0.3em;
}
/* phần đánh giá ,phản hồi */
.product-shop__side {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 55px;
    width:65%;
}
/* Mỗi phần của đánh giá phản hồi */
.product-shop__side-container {
    margin-right: 5em;

}
.product-shop__side-container > .product-shop__side-wrapper:first-child {
    margin-bottom: 20px;
}
/* tên của phản hồi , đánh giá */
.product-shop__side-label {
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.4);
    margin-right: 0.625rem;
}
/* giá trị phản hồi, đánh giá */
.product-shop__side-qnt {
    color: var(--primary-color);
   
}
.product-shop__side-wrapper {
    display: flex;
    align-items: center;
}
.product-shop__side-container {
    margin-right: 50px;
}
.product-shop__side-wrapper {
    display: flex;
    align-items: center;
}
.product-shop__side-label {
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.4);
    margin-right: 0.625rem;
}
.product-shop__side-wrapper {
    display: flex;
    align-items: center;
}
.product-shop__side-container {
    margin-right: 50px;
}
/* đánh giá dòng 1 */
.product-shop__side-container > .product-shop__side-wrapper:first-child {
    margin-bottom: 20px;
}
/* 2 dòng đánh giá */
.product-shop__side-wrapper {
    display: flex;
    align-items: center;
}
/* Modal de hien form dang ky dang nhap */
.modal, .modal2, .modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: fit-content;
  }
  /* phần đăng ký người dùng */
  .auth-form__group {
    margin-bottom:20px;
    display: flex;
    flex-direction: column;
}
.auth-form__group label{
    font-size:1.3rem;
}
/* Hình ảnh đăng ký đại diện từ form đăng ký  */
#input-image{
    padding:5px;
    font-size:14px;
    margin-bottom:10px;
}
.auth-form__group img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.auth-form__container{
    padding: 0 32px;
}


.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 500;
    cursor: pointer;
   
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
    /* bỏ viền tự hiện ra bằng outline */
    outline: none;

}
/* làm lớp giả */
.auth-form__input:focus{
    border-color: #777;
}

.auth-form__aside{
    margin-top: 18px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
    
}

.auth-form__controls button a{
    color:#fff;
    color:var(--primary-color);
    text-decoration: none;
}
.auth-form__control-back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #e2dada;
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon{
   font-size: 1.8rem; 
}

.auth-form__socials-icon--facebook{
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form__socials-icon--facebook
.auth-form__socials-icon
{
    color: var(--white-color);
   
}

.auth-form__socials-title{
    margin: 0 36px;
}
.auth-form__socials-icon--google{
    color: #666;
    background-color: var(--white-color);
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;

}
.auth-form__help-separate{
    display: block;
    height: 18px;
    margin:0px 16px 6px;
    border-left: 1px solid #EAEAEA;
}
.auth-form__help-forgot{
    color: var(--primary-color);
}